<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>362707370482-0jjcm89legluf22r8tpksm2ik040p5h2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR9pk0l7U2_35zI_kn7HJOamNY8WVD96s</string>
	<key>GCM_SENDER_ID</key>
	<string>362707370482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wholesome.newsApp</string>
	<key>PROJECT_ID</key>
	<string>fire-51c01</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-51c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362707370482:ios:5d30ac9679d3b1cbd02b6b</string>
	<key>DATABASE_URL</key>
	<string>https://fire-51c01-default-rtdb.firebaseio.com</string>
</dict>
</plist>